[Unit]
Description=Atlas XDG Desktop Portal FileChooser
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=dbus
BusName=org.freedesktop.impl.portal.desktop.astra-atlas
ExecStart=/usr/bin/xdg-desktop-portal-astra-atlas
Restart=on-failure

[Install]
WantedBy=graphical-session.target
